# 编译输出
x64/
Debug/
Release/

# VS 生成文件
*.aps
*.user
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vs/

# 安装包输出
installer_output/

# 第三方工具数据（版权归属原作者，不开源，不纳入版本控制）
data/
x64/Release/data/

# 编译中间目录
财神科技/
src/x64/
src/Debug/
src/Release/